{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content
    %}
    <h1 align="center">Make Post</h1>

    <form method="POST">
      <div align="center">
        <select name="class_id" id="class_id">
          <option class_id="CMPE30">CMPE30</option>
          <option class_id="CMPE50">CMPE50</option>
          <option class_id="CMPE102">CMPE102</option>
          <option class_id="CMPE110">CMPE110</option>
          <option class_id="CMPE124">CMPE124</option>
          <option class_id="CMPE125">CMPE125</option>
          <option class_id="CMPE126">CMPE126</option>
          <option class_id="CMPE127">CMPE127</option>
          <option class_id="CMPE130">CMPE130</option>
          <option class_id="CMPE131">CMPE131</option>
          <option class_id="CMPE140">CMPE140</option>
          <option class_id="CMPE142">CMPE142</option>
          <option class_id="CMPE146">CMPE146</option>
          <option class_id="CMPE148">CMPE148</option>
          <option class_id="CMPE152">CMPE152</option>
          </select>
        </div>
        <br/>
      <label class="text-light bg-dark">Who was your professor? </label>
      <textarea name="prof" id="prof" class="form-control"></textarea>
      <br />      
      <label class="text-light bg-dark">Tell us about the professors teaching style: </label>
      <textarea name="text" id="text" class="form-control"></textarea>
      <br />
      <label class="text-light bg-dark">Tips to succeed: </label>
      <textarea name="tips" id="tips" class="form-control"></textarea>
      <br />
      <label class="text-light bg-dark">Course Material Difficulty: </label>
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
        <div difficulty=""></div>
          <button type="button" difficulty = "Very Easy" class="btn btn-success">Cake (Very Easy)</button>
          <button type="button" difficulty = "Easy" class="btn btn-dark">Lightweight (Easy)</button>
          <button type="button" difficulty = "Average" class="btn btn-info">Mid (Average)</button>
          <button type="button" difficulty = "Hard" class="btn btn-warning">Heavyweight (Hard)</button>
          <button type="button" difficulty = "Very Hard" class="btn btn-danger">9to5 (Very Hard)</button>
        </div>
      </div>
      <br/>
      <div align="center">
        <button type="submit" class="btn btn-lg btn-primary">Post</button>
      </div>
    </form>
    <br />
    <div align="center">
      <a href="/home"
        ><button type="button" class="btn btn-lg btn-secondary">Back</button></a
      >
    </div>


    {% endblock %}
    