{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content
    %}
    <h1 align="center">Make Post</h1>

    <form method="POST">
      <div align="center">
        <select name="class_id" id="class_id">
          <option class_id="CMPE30">CMPE30</option>
          <option class_id="CMPE50">CMPE50</option>
          <option class_id="CMPE102">CMPE102</option>
          <option class_id="CMPE110">CMPE110</option>
          <option class_id="CMPE124">CMPE124</option>
          <option class_id="CMPE125">CMPE125</option>
          <option class_id="CMPE126">CMPE126</option>
          <option class_id="CMPE127">CMPE127</option>
          <option class_id="CMPE130">CMPE130</option>
          <option class_id="CMPE131">CMPE131</option>
          <option class_id="CMPE140">CMPE140</option>
          <option class_id="CMPE142">CMPE142</option>
          <option class_id="CMPE146">CMPE146</option>
          <option class_id="CMPE148">CMPE148</option>
          <option class_id="CMPE152">CMPE152</option>
          </select>
        </div>
        <br/>
      <label>Who was your professor? </label>
      <textarea name="prof" id="prof" class="form-control"></textarea>
      <br />      
      <label>Tell us about the class: </label>
      <textarea name="text" id="text" class="form-control"></textarea>
      <br />
      <label>Tips for the class: </label>
      <textarea name="tips" id="tips" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-lg btn-primary">Post</button>
      </div>
    </form>
    <br />
    <div align="center">
      <a href="/home"
        ><button type="button" class="btn btn-lg btn-secondary">Back</button></a
      >
    </div>


    {% endblock %}
    