{% extends "base.html" %} 
{% block title %}Home{% endblock %}
{% block content %}
</br>
<h1 align="center">{% block header %}CMPE Survival Guide{% endblock %}</h1>
</br>
<body>
    <div class="background-image"></div>
</body>
<style>
    
</style>

<div align="center">
    <a href="/create-post">
      <button type="button" class="btn btn-success btn-lg">
        Create Post
        </button>
    </a>
</div>
<br/>

<div class="card">
    <h5 class="card-header">CMPE30</h5>
    <div class="card-body">
        <h5 class="card-title">Programming Concepts and Methodology</h5>
        <p class="card-text">Introduction to programming; overview of computer organization
         and introduction to software engineering. Topics include methodologies for program 
         design, development, style, testing, and documentation; algorithms, control 
         structures, functions, and elementary data structures.
        </p>
        <a href="/posts/CMPE30">
            <button type="button" class="btn btn-info btn-lg">
                CMPE30
            </button>
        </a>
    </div>
</div>
<br/>

<div class="card">
    <h5 class="card-header">CMPE50</h5>
    <div class="card-body">
        <h5 class="card-title">Object Oriented Concepts and Methodology</h5>
        <p class="card-text">Application of object-oriented software engineering techniques 
          to the design and development of larger programs; 
          data abstraction, structures, classes and associated algorithms.
        </p>
        <a href="/posts/CMPE50">
            <button type="button" class="btn btn-info btn-lg">
                CMPE50
            </button>
        </a>
    </div>
</div>
<br/>

<div class="card">
    <h5 class="card-header">CMPE102</h5>
    <div class="card-body">
        <h5 class="card-title">Assembly Language Programming</h5>
        <p class="card-text">Assembly programming; assembly-C interface; CPU and memory 
        organization; addressing modes; arithmetic, logic and branch instructions; arrays, 
        pointers, subroutines, stack and procedure calls; software interrupts; multiplication, 
        division and floating point arithmetic.
        </p>
        <a href="/posts/CMPE102">
            <button type="button" class="btn btn-info btn-lg">
                CMPE102
            </button>
        </a>
    </div>
</div>
<br/>

<div class="card">
    <h5 class="card-header">CMPE110</h5>
    <div class="card-body">
        <h5 class="card-title">Electronics for Computing Systems</h5>
        <p class="card-text">RC, RL and RLC circuit analysis, diodes and diode circuits, 
            MOSFET and bipolar transistor I-V characteristics and circuits, 
            CMOS logic circuits, CMOS-TTL interface, sensors and signal conditioning circuits 
            using operational amplifiers, A/D and D/A converters, electromechanical device control.
        </p>
        <a href="/posts/CMPE110">
            <button type="button" class="btn btn-info btn-lg">
                CMPE110
            </button>
        </a>
    </div>
</div>
<br/>

<div class="card">
    <h5 class="card-header">CMPE124</h5>
    <div class="card-body">
        <h5 class="card-title">Digital Design I</h5>
        <p class="card-text">Combinational and sequential logic theory and circuits. 
            Emphasis on mixed logic and algorithmic state machines. Design projects 
            using standard integrated circuit packages.
        </p>
        <a href="/posts/CMPE124">
            <button type="button" class="btn btn-info btn-lg">
                CMPE124
            </button>
        </a>
    </div>
</div>
<br/>

<div class="card">
    <h5 class="card-header">CMPE125</h5>
    <div class="card-body">
        <h5 class="card-title">Digital Design II</h5>
        <p class="card-text">Digital system building blocks, data path and control 
            units, system-level RTL design, Verilog HDL for design and verification,
             contemporary design flow and methodology, lab experiments using 
             industry standard CAD tools and field programmable gate array (FPGA) devices.
        </p>
        <a href="/posts/CMPE125">
            <button type="button" class="btn btn-info btn-lg">
                CMPE125
            </button>
        </a>
    </div>
</div>
<br/>

<div class="card">
    <h5 class="card-header">CMPE126</h5>
    <div class="card-body">
        <h5 class="card-title">Algorithms and Data Structure Design</h5>
        <p class="card-text">Object-oriented data organization and representation as strings, arrays, stacks, queues, dequeues, 
            lists, sets, trees, tables, and graphs. Sorting and searching and algorithm 
            design and performance analysis.
        </p>
        <a href="/posts/CMPE126">
            <button type="button" class="btn btn-info btn-lg">
                CMPE126
            </button>
        </a>
    </div>
</div>
<br/>

<div class="card">
    <h5 class="card-header">CMPE127</h5>
    <div class="card-body">
        <h5 class="card-title">Microprocessor Design I</h5>
        <p class="card-text">Microprocessor architecture and assembly language. Design of 
            peripheral blocks and their interfaces to the microprocessor. Design projects 
            using standard integrated circuit packages.
        </p>
        <a href="/posts/CMPE127">
            <button type="button" class="btn btn-info btn-lg">
                CMPE127
            </button>
        </a>
    </div>
</div>
<br/>

<div class="card">
    <h5 class="card-header">CMPE130</h5>
    <div class="card-body">
        <h5 class="card-title">Advanced Algorithm Design</h5>
        <p class="card-text">Design and analysis of data structures and algorithms.
             Advanced tree structures, hashing, searching and sorting. 
             Divide-and-conquer, greedy and dynamic programming algorithm design techniques.
        </p>
        <a href="/posts/CMPE130">
            <button type="button" class="btn btn-info btn-lg">
                CMPE130
            </button>
        </a>
    </div>
</div>
<br/>

<div class="card">
    <h5 class="card-header">CMPE131</h5>
    <div class="card-body">
        <h5 class="card-title">Software Engineering I</h5>
        <p class="card-text">Why software engineering? What is software engineering?
             Software development lifecycle activities: project planning and management requirements
              analysis, requirement specification. Software design, software testing, verification, 
              validation, and documentation. Software quality assurance and review techniques, 
              software maintenance, team-based projects.
        </p>
        <a href="/posts/CMPE131">
            <button type="button" class="btn btn-info btn-lg">
                CMPE131
            </button>
        </a>
    </div>
</div>
<br/>

<div class="card">
    <h5 class="card-header">CMPE140</h5>
    <div class="card-body">
        <h5 class="card-title">Computer Architecture and Design</h5>
        <p class="card-text">Pipelining and timing issues in CPU data-paths. 
            Principles of RISC-type CPU instruction set and architecture. 
            Structural, data and control hazards in a RISC processor, 
            forwarding loops, branch mechanisms. Memory architectures in 
            CPUs such as register files and caches.
        </p>
        <a href="/posts/CMPE140">
            <button type="button" class="btn btn-info btn-lg">
                CMPE140
            </button>
        </a>
    </div>
</div>
<br/>

<div class="card">
    <h5 class="card-header">CMPE142</h5>
    <div class="card-body">
        <h5 class="card-title">Operating Systems Design</h5>
        <p class="card-text">Overview: history, concepts, system calls and 
            structures. Management of major components: processes, memory, 
            input/output and files. Design of system calls and device drivers 
            for hardware dependence. Concepts of kernel and shell, file 
            protection and interactive computation.
        </p>
        <a href="/posts/CMPE142">
            <button type="button" class="btn btn-info btn-lg">
                CMPE142
            </button>
        </a>
    </div>
</div>
<br/>

<div class="card">
    <h5 class="card-header">CMPE146</h5>
    <div class="card-body">
        <h5 class="card-title">Real-Time Embedded System Co-Design</h5>
        <p class="card-text">Embedded system architecture with real-time operating system
             including microcontrollers, interfacing techniques for industrial applications 
             using transducers, sensors, and A/D-D/A converters. Hardware/software 
             integration and codesign.
        </p>
        <a href="/posts/CMPE146">
            <button type="button" class="btn btn-info btn-lg">
                CMPE146
            </button>
        </a>
    </div>
</div>
<br/>

<div class="card">
    <h5 class="card-header">CMPE148</h5>
    <div class="card-body">
        <h5 class="card-title">Computer Networks I</h5>
        <p class="card-text">Comparative evaluation of network architecture, layering 
            model, standards, protocol examples for ISO and TCP/IP layers. Network 
            applications, transport layer protocols, Internet routing, data link and 
            physical transmissions. Applications in world wide web, file transfer, 
            electronic mail, peer-to-peer and other areas.
        </p>
        <a href="/posts/CMPE148">
            <button type="button" class="btn btn-info btn-lg">
                CMPE148
            </button>
        </a>
    </div>
</div>
<br/>

<div class="card">
    <h5 class="card-header">CMPE152</h5>
    <div class="card-body">
        <h5 class="card-title">Compiler Design</h5>
        <p class="card-text">Principles of lexical analysis, finite state automata 
            and parsing; issues of variable declarations, variable types, control 
            statements, function calls, nested scopes and efficient assembler target code.
        </p>
        <a href="/posts/CMPE152">
            <button type="button" class="btn btn-info btn-lg">
                CMPE152
            </button>
        </a>
    </div>
</div>

{% endblock %}